{% extends "layout.html" %}
{% block body %}
<div class="w3-container w3-padding-128 w3-center" id="splits">
    <h1>{{ inj["player_name"] }}</h1>
    <h3>{{ inj["injury"] }} ({{ ",".join(inj["parts"]) }}) • {{ inj["start_date"] }} - {{ inj["end_date"] }}</h3>
    <div style="width: 50%; float: left">
        <img src="{{ pre["image_path"] }}" style="width: 60%" />
        <h4>
            {{ pre["stats"] }}
        </h4>
    </div>
    <div style="width: 50%; float: left">
        <img src="{{ post["image_path"] }}" style="width: 60%" />
        <h4>
            {{ post["stats"] }}
        </h4>
    </div>
</div>
{% endblock %}
