{% extends "layout.html" %}
{% block body %}
<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-padding w3-display-right w3-padding-xxlarge w3-text-white">
    <span class="w3-padding w3-jumbo w3-hide-small">InjuryFX</span><br>
    <span class="w3-padding w3-large">Measuring Injury Impact on Baseball Performance</span>
</header>

<!-- Team Section -->
<div class="w3-container w3-padding-128 w3-light-grey" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who run this site</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/datascientist.jpg" alt="Joe" style="width:100%">
        <div class="w3-container">
          <h3>Joe Izenman</h3>
          <p class="w3-opacity">Data Scientist</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/wolverine.jpg" alt="Shawn" style="width:100%">
        <div class="w3-container">
          <h3>Shawn Kessler</h3>
          <p class="w3-opacity">Wolverine</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/king.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Giles Ochs</h3>
          <p class="w3-opacity">King</p>

          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/barbie.jpg" alt="Jessica" style="width:100%">
        <div class="w3-container">
          <h3>Jessica Sanders</h3>
          <p class="w3-opacity">Developer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
