<!DOCTYPE html>
<!-- Uses templates and classes from w3schools -->
<html>
<title>InjuryFX</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/static/images/baseball.jpg");
    min-height: 100%;
}
.w3-navbar li a {
    padding: 16px;
    float: left;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-card-2" id="myNavbar">
    <li>
      <a href="#home" class="w3-wide">HOME</a>
    </li>
    <!-- Right-sided navbar links -->
    <li class="w3-right w3-hide-small">
      <a href="#maps"><i class="fa fa-th"></i> MAPS</a>
      <a href="#splits"><i class="fa fa-th"></i> SPLITS</a>
      <a href="#graphs"><i class="fa fa-th"></i> GRAPHS</a>
      <a href="#team"><i class="fa fa-user"></i> TEAM</a>
    </li>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <li>
      <a href="javascript:void(0)" class="w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars w3-padding-right w3-padding-left"></i>
      </a>
    </li>
  </ul>
</div>

<!-- Sidenav on small screens when clicking the menu icon -->
<nav class="w3-sidenav w3-black w3-card-2 w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-large w3-padding-16">Close ×</a>
  <a href="#maps" onclick="w3_close()">MAPS</a>
  <a href="#splits" onclick="w3_close()">SPLITS</a>
  <a href="#graphs" onclick="w3_close()">GRAPHS</a>
  <a href="#team" onclick="w3_close()">TEAM</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-padding w3-display-right w3-padding-xxlarge w3-text-white">
    <span class="w3-padding w3-jumbo w3-hide-small">InjuryFX</span><br>
    <span class="w3-padding w3-large">Measuring Injury Impact on Baseball Performance</span>
</header>

<!-- Heatmaps Section -->
<div class="w3-container w3-padding-128" id="maps">
  <h3 class="w3-center">Pre- and Post-Injury Heat Maps</h3>
  <p class="w3-center w3-large">Select a player, injury, and window of time, in days.</p>
  <div class="w3-row-padding w3-center" style="margin-top:32px">
    <div class="w3-third">
      <form action="" method="post" name="pitcher">
        {{ pitcherform.hidden_tag() }}
        <p class="w3-medium">
           Pitcher<br>
           {{ pitcherform.pitcher }}<br>
           OR Batter<br>
           {{ batterform.batter }}<br>
           Injury<br>
           {{ injuryform.injury }}<br>
           Window<br>
           {{ windowform.window }}<br>
        </p>
	<p><input type="submit" value="submit"></p>
      </form>
    </div>
    <div class="w3-third">
      <img src="{{ url_for('preplot') }}" alt="Heat Map" height="300">
      <p class="w3-medium">Pre-Injury Pitch Selection</p>
    </div>
    <div class="w3-third">
      <img src="{{ url_for('postplot') }}" alt="Heat Map" height="300">
      <p class="w3-medium">Post-Injury Pitch Selection</p>
    </div>
  </div>
</div>

<!-- Splits Section -->
<div class="w3-container w3-padding-128 w3-center w3-dark-grey" id="splits">
  <h3>STATISTICAL SPLITS</h3>
  <p class="w3-large">Relevant Aggregate Statistics</p>
</div>


<!-- Graphs Section -->
<div class="w3-container w3-padding-128 w3-center" id="graphs">
  <h3>PITCH SELECTION GRAPHS</h3>
  <p class="w3-large">Time series graphs which reveal pitch selection over time</p>
</div>

<!-- Team Section -->
<div class="w3-container w3-padding-128 w3-light-grey" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who run this site</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/datascientist.jpg" alt="Joe" style="width:100%">
        <div class="w3-container">
          <h3>Joe Izenman</h3>
          <p class="w3-opacity">Data Scientist</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/wolverine.jpg" alt="Shawn" style="width:100%">
        <div class="w3-container">
          <h3>Shawn Kessler</h3>
          <p class="w3-opacity">Wolverine</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/king.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Giles Ochs</h3>
          <p class="w3-opacity">King</p>

          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card-2">
        <img src="static/images/barbie.jpg" alt="Jessica" style="width:100%">
        <div class="w3-container">
          <h3>Jessica Sanders</h3>
          <p class="w3-opacity">Developer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-btn-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-btn w3-padding w3-light-grey w3-hover-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 

<script>

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidenav when clicking the menu icon
var mySidenav = document.getElementById("mySidenav");

function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
    } else {
        mySidenav.style.display = 'block';
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
}
</script>

</body>
</html>
