{% extends "player.html" %}
{% block subhead %}
    <h3>Injury History</h3>
{% endblock %}
{% block content %}
    {% for inj in injuries %}
    <p>
        {% if inj['injury'] %}
            {{ inj['injury'] }} ({{ ",".join(inj['parts']) }}) •
        {% else %}
            <i>No injury details</i> •
        {% endif %}
        {{ inj['dl_type'] }} disabled list •
        {{ inj['start_date'].strftime("%m/%d/%Y") }}-{{ inj['end_date'].strftime("%m/%d/%Y") }}<br />
        Splits:
        <a href="/injury/{{ split }}?inj_id={{ inj['injury_id'] }}&window=50">
            {% if split == 'batter' %}
                Batting
            {% else %}
                Pitching
            {% endif %}
        </a>
    </p>
    {% endfor %}
{% endblock %}
